body {
  font-family: "Poppins", sans-serif;
  background: black;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.containerBarButton {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

button {
  background-color: #3d348b;
  border-radius: 5px !important;
  border: 1px solid #3d348b;
  text-transform: uppercase;
  padding: 10px;
  color: white;
  font-weight: bold;
}

input {
  background: #ffffff;
  border: 1px solid #a7a7a7;
  border-radius: 10px;
}

.containerBarButton label {
  color: white;
}

.containerUsers {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.table {
  color: white;
}
/* Mobiles and Tablets */
@media (min-width: 320px) and (max-width: 1024px) {
  .containerBarButton {
    flex-direction: column;
  }
}
